{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Blog</h2>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
{% endblock breadcrumb %}

{% block main %}

{% include 'components/_blog.html' %}

{% endblock main %}